@media (max-width: 1300px) {
    header .container .logo img {
        width: 12%;
    }
    header .container .logo h2 {
        font-size: 20px;
    }
    header .container .menu button {
        background: transparent;
        width: 30px;
        height: 25px;
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        border-radius: 5px;
        border: 2px solid;
        border-color: black;
        padding: 0%;
        cursor: pointer;
    }
    header .container .menu button span {
        display: block;
        width: 50%;
        height: 2%;
        border-radius: 5px;
        background-color: black;
        transform: translateX(50%);
        position: relative;
        margin: 0;
        padding: 0;
    }
    #Home .container img {
        width: 50%;
    }
    #Home .container a {
        font-size: 18px;
        margin-inline: 10px;
    }
    footer {
        font-size: 12px;
    }
    #MyCourses .container h2,
    #AddCourse .container h2,
    #ContactUs .container h2 {
        font-size: 25px;
    }
    #ContactUs .container p {
        font-size: 15px;
    }
    #MyCourses .container img,
    #AddCourse .container img,
    #ContactUs .container img {
        width: 30%;
    }
    #MyCourses .container table {
        width: 90%;
        font-size: 12px;
        justify-self: center;
        border: 5px solid black;
        border-collapse: collapse;
    }
    #AddCourse .container .courses label,
    textarea,
    #ContactUs .container .contact label {
        margin-block: 12px;
    }
    #AddCourse .container .courses label,
    #ContactUs .container .contact label {
        font-size: 15px;
    }
    #AddCourse .container .courses input,
    textarea,
    #ContactUs .container .contact input {
        padding-block: 10px;
        border: 2px solid white;
        border-radius: 5px;
    }
    #AddCourse .container .courses #Credit {
        width: 35%;
    }
    #AddCourse .container form button,
    #ContactUs .container .contact button {
        font-size: 12px;
    }
}

@media (min-width: 371px) and (max-width: 1300px) {
    #AddCourse .container .courses #Credit {
        width: 30%;
    }
    #AddCourse .container .courses label,
    #ContactUs .container .contact label {
        font-size: 18px;
    }
}

@media (min-width: 577px) and (max-width: 1300px) {
    header .container .logo img {
        width: 12%;
    }
    header .container .logo h2 {
        font-size: 20px;
    }
    header .container .menu button {
        background: transparent;
        width: 40px;
        height: 35px;
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        border-radius: 7px;
        border: 2px solid;
        border-color: black;
        padding: 0%;
        cursor: pointer;
    }
    #Home .container img {
        width: 40%;
    }
    #MyCourses .container h2,
    #AddCourse .container h2,
    #ContactUs .container h2 {
        font-size: 25px;
    }
    #MyCourses .container img,
    #AddCourse .container img,
    #ContactUs .container img {
        width: 20%;
    }
    #MyCourses .container table {
        width: 90%;
        font-size: 18px;
        justify-self: center;
        border: 5px solid black;
        border-collapse: collapse;
    }
    #AddCourse .container .courses #Credit {
        width: 20%;
    }
    #AddCourse .container form button,
    #ContactUs .container .contact button {
        font-size: 18px;
    }
    #AddCourse .container .courses label,
    textarea,
    #ContactUs .container .contact label {
        margin-block: 16px;
    }
}

@media (min-width: 769px) and (max-width: 1300px) {
    header .container .logo h2 {
        font-size: 25px;
    }
    #MyCourses .container h2,
    #AddCourse .container h2,
    #ContactUs .container h2 {
        font-size: 30px;
    }
    #MyCourses .container img,
    #AddCourse .container img,
    #ContactUs .container img {
        width: 18%;
    }
    #MyCourses .container table {
        width: 90%;
        font-size: 20px;
        justify-self: center;
        border: 5px solid black;
        border-collapse: collapse;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    header .container .menu button {
        display: none;
    }
    header .container .menu .list {
        position: absolute;
        top: 20%;
        left: 55%;
        transform: translateX(0%);
        background-color: transparent;
        width: fit-content;
        height: 100%;
        text-align: center;
        border-radius: 5px;
        transition-duration: 1s;
        overflow: hidden;
    }
    header .container .menu .list ul {
        display: flex;
        flex-direction: row;
    }
    header .container .menu .list ul li {
        margin-inline: 10px;
    }
    #Home .container a {
        font-size: 25px;
        margin-inline: 20px;
    }
    footer {
        font-size: 18px;
    }
}